setuptools>=50.3.0
cefpython3>=66.1; os_name == "nt"
cefpython3>=66.0; os_name != "nt"
pycdlib>=1.11.0
rlapydvdid>=1.2
python-dateutil>=2.8.1
pydvdcss>=1.1.0
tqdm>=4.50.2
PyYAML>=5.3.1
appdirs>=1.4.4
pywin32>=228; os_name == "nt"